.search-form{
    position: relative;
}

.search-form .bi-search{
    position: absolute;
    top:16px;
    left: 20px;
    color: #9ca3af;
}

.search-form span{
    position: absolute;
    right: 17px;
    top: 13px;
    padding: 2px;
    border-left: 1px solid #d1d5db;
}

.left-pan{
    padding-left: 7px;
}

.left-pan i{
   padding-left: 10px;
}

.search-form-input{
    height: 55px;
    text-indent: 33px;
    border-radius: 10px;
}

.search-form-input:focus{
    box-shadow: none;
    border:none;
}